<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="cartView">
    <div class="alert alert-warning" role="alert" th:if="${cartItem.isEmpty()}">
        <h3>No Item in Cart</h3>
        <a th:href="@{/shop/show-all-books}" class="btn btn-outline-info">Continue Shopping</a>
    </div>
    <div th:if="${!cartItem.isEmpty()}">
        <form th:action="@{/customer/register}" th:object="${bookDto}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cartItem}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="number" min="1" th:field="*{bookNumberList}" step="1" class="form-control" placeholder="1">
                        </div>
                    </div>
                </td>
                <td>
                    <a th:href="@{'/cart/delete/'+${item.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="p-4">
            <a th:href="@{/cart/clear}" class="btn btn-outline-warning">Clear Cart</a>
            <a th:href="@{/shop/show-all-books}" class="btn btn-outline-info">Continue Shopping</a>
            <button type="submit" class="btn btn-outline-success">Check Out</button>
        </div>
        </form>
    </div>
</div>
</body>
</html>